## Preparación de los datos

Importamos las librerías a utilizar

In [121]:
import pandas as pd
import numpy as np
import seaborn as sns

Leemos el csv.

In [122]:
mensajesTwitter_sin =  pd.read_csv("datas/calentamientoClimatico_sin_preparar.csv",delimiter=";", encoding='latin-1')

In [123]:
mensajesTwitter_sin

,Column1,Column2,Column3
0,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

### Exploración de datos

In [124]:
mensajesTwitter_sin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6091 entries, 0 to 6090
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  6091 non-null   object
 1   Column2  4226 non-null   object
 2   Column3  6088 non-null   object
dtypes: object(3)
memory usage: 142.9+ KB

Miramos si hay nulos

In [125]:
mensajesTwitter_sin.isna().sum()

Column1       0
Column2    1865
Column3       3
dtype: int64

In [126]:
mensajesTwitter_sin.describe()

                                                  Column1 Column2 Column3
count                                                6091    4226    6088
unique                                               5542       3    1760
top     No matter if you believe in global warming or ...     Yes       1
freq                                                   20    3111    2391

In [127]:
mensajesTwitter_sin.shape

(6091, 3)

In [128]:
sns.countplot(mensajesTwitter_sin['existence'])

KeyError: 'existence'

### Limpieza de datos

Cambiamos el nombre de las columnas

In [129]:
mensajesTwitter_sin.columns = ['tweet', 'existence', 'existence.confidence']

Eliminamos la primera fila

In [130]:
mensajesTwitter_sin = mensajesTwitter_sin.drop(0)

Comprobamos que está bien

In [131]:
mensajesTwitter_sin

,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
5,URUGUAY: Tools Needed for Those Most Vulnerabl...,Yes,0.8087
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

In [132]:
mensajesTwitter_sin['existence'] = mensajesTwitter_sin['existence'].replace({'Yes': 1, 'No': 0})
mensajesTwitter_sin

,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,1.0,1
2,Fighting poverty and global warming in Africa ...,1.0,1
3,Carbon offsets: How a Vatican forest failed to...,1.0,0.8786
4,Carbon offsets: How a Vatican forest failed to...,1.0,1
5,URUGUAY: Tools Needed for Those Most Vulnerabl...,1.0,0.8087
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",1.0,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,0.0,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,0.0,1
6090,man made global warming a hair brained theory ...,0.0,1

Eliminamos los nulos

In [133]:
mensajesTwitter_sin = mensajesTwitter_sin.dropna()
mensajesTwitter_sin

,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,1.0,1
2,Fighting poverty and global warming in Africa ...,1.0,1
3,Carbon offsets: How a Vatican forest failed to...,1.0,0.8786
4,Carbon offsets: How a Vatican forest failed to...,1.0,1
5,URUGUAY: Tools Needed for Those Most Vulnerabl...,1.0,0.8087
...,...,...,...
6085,It's 83_Á and climbing in NYC. August weather...,1.0,1
6086,"@bloodless_coup ""The phrase 'global warming' s...",1.0,1
6088,Global warming you tube parody you will enjoy ...,0.0,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,0.0,1
6090,man made global warming a hair brained theory ...,0.0,1

Comprobamos que se han eliminado

In [134]:
mensajesTwitter_sin.isna().sum()

tweet                   0
existence               0
existence.confidence    0
dtype: int64

In [135]:
mensajesTwitter_sin.shape

(4225, 3)

Hemos limpiado nuestro dataset, por lo tanto vamos a empezar a hacer el proceso de normalización

### Normalización

En este paso vamos a utilizar la librería re (regular expression).

Vamos a utilizar una funcion llama da normalización, que nos va a permitir buscar un conjunto de carácteres específicos en una cadena de caracteres. Cuando los encuentre le aplicaremos una transformación.

In [136]:
import re

In [137]:
def normalizacion(mensaje):
    mensaje = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','URL', mensaje) #la primer sentencia en '' la cambia por lo segunda ''
    mensaje = re.sub('@[^\s]+','USER', mensaje)
    mensaje = mensaje.lower().replace("ё", "е")
    mensaje = re.sub('[^a-zA-Zа-яА-Я1-9]+', ' ', mensaje)
    mensaje = re.sub(' +',' ', mensaje)
    return mensaje.strip()

lo aplicamos a nuestro dataset

In [138]:
mensajesTwitter_sin ['tweet'] = mensajesTwitter_sin['tweet'].apply(normalizacion)

C:\Users\CARLOT~1\AppData\Local\Temp/ipykernel_27164/296542153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mensajesTwitter_sin ['tweet'] = mensajesTwitter_sin['tweet'].apply(normalizacion)

In [139]:
mensajesTwitter_sin

,tweet,existence,existence.confidence
1,global warming report urges governments to act...,1.0,1
2,fighting poverty and global warming in africa ...,1.0,1
3,carbon offsets how a vatican forest failed to ...,1.0,0.8786
4,carbon offsets how a vatican forest failed to ...,1.0,1
5,uruguay tools needed for those most vulnerable...,1.0,0.8087
...,...,...,...
6085,it s 83 and climbing in nyc august weather for...,1.0,1
6086,user the phrase global warming should be aband...,1.0,1
6088,global warming you tube parody you will enjoy ...,0.0,0.6411
6089,one eyed golfer don t dare tell me about globa...,0.0,1
6090,man made global warming a hair brained theory ...,0.0,1

### Eliminación de las stop words

Las stop words son las palabras de un idioma más utilizadas y que no aportan valor añadido al sentido de la frase. Por tanto las eliminaremos.

Vamos a importas la librería nlkd, que nos ayudará a eliminar las stop words

In [140]:
import nltk
from nltk.corpus import stopwords

Primero me descargo las stopwords

In [141]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Carlota Martin-
[nltk_data]     Anero\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [142]:
stopWords = stopwords.words('english')

Vamos a utilizar una función lambda (funciones que solo pueden contener una expresión) que creara una cadena vacía de texto.

Si al ir recorrindo las palabras, la variables stopWords no lo reconoce (en su diccionario), la añade a la cadena vacía; si la conoce, pasa a la siguiente palabra

In [144]:
mensajesTwitter_sin['tweet'] = mensajesTwitter_sin['tweet'].apply(lambda mensaje: ' '.join([palabra for palabra in mensaje.split() if palabra not in (stopWords)]))
print(mensajesTwitter_sin.head(10))

                                                tweet  existence  \
1   global warming report urges governments act br...        1.0
2         fighting poverty global warming africa link        1.0
3   carbon offsets vatican forest failed reduce gl...        1.0
4   carbon offsets vatican forest failed reduce gl...        1.0
5   uruguay tools needed vulnerable climate change...        1.0
6   rt user rt user ocean saltiness shows global w...        1.0
7   global warming evidence around us message glob...        1.0
8   migratory birds new climate change strategy st...        1.0
9   southern africa competing limpopo water climat...        1.0
10  global warming impact wheat rice production in...        1.0

   existence.confidence
1                     1
2                     1
3                0.8786
4                     1
5                0.8087
6                     1
7                     1
8                     1
9                     1
10                    1

C:\Users\CARLOT~1\AppData\Local\Temp/ipykernel_27164/2569005379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mensajesTwitter_sin['tweet'] = mensajesTwitter_sin['tweet'].apply(lambda mensaje: ' '.join([palabra for palabra in mensaje.split() if palabra not in (stopWords)]))

### El stemming

In [145]:
#Aplicación de stemming
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer('english')
mensajesTwitter_sin['tweet'] = mensajesTwitter_sin['tweet'].apply(lambda mensaje: ' '.join([stemmer.stem(palabra) for palabra in mensaje.split(' ')]))
print(mensajesTwitter_sin.head(10))

                                                tweet  existence  \
1   global warm report urg govern act brussel belg...        1.0
2               fight poverti global warm africa link        1.0
3   carbon offset vatican forest fail reduc global...        1.0
4   carbon offset vatican forest fail reduc global...        1.0
5          uruguay tool need vulner climat chang link        1.0
6   rt user rt user ocean salti show global warm i...        1.0
7   global warm evid around us messag global warm ...        1.0
8   migratori bird new climat chang strategi stay ...        1.0
9   southern africa compet limpopo water climat ch...        1.0
10  global warm impact wheat rice product india lu...        1.0

   existence.confidence
1                     1
2                     1
3                0.8786
4                     1
5                0.8087
6                     1
7                     1
8                     1
9                     1
10                    1

C:\Users\CARLOT~1\AppData\Local\Temp/ipykernel_27164/1707050472.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mensajesTwitter_sin['tweet'] = mensajesTwitter_sin['tweet'].apply(lambda mensaje: ' '.join([stemmer.stem(palabra) for palabra in mensaje.split(' ')]))

### La lematización

In [147]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Carlota Martin-
[nltk_data]     Anero\AppData\Roaming\nltk_data...

True

In [149]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to C:\Users\Carlota Martin-
[nltk_data]     Anero\AppData\Roaming\nltk_data...

True

In [150]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
mensajesTwitter_sin['tweet']= mensajesTwitter_sin['tweet'].apply(lambda mensaje: ' '.join([lemmatizer.lemmatize(palabra) for palabra in mensaje.split(' ')]))
print(mensajesTwitter_sin.head(10))

print("¡Fin de la preparación!")

                                                tweet  existence  \
1   global warm report urg govern act brussel belg...        1.0
2               fight poverti global warm africa link        1.0
3   carbon offset vatican forest fail reduc global...        1.0
4   carbon offset vatican forest fail reduc global...        1.0
5          uruguay tool need vulner climat chang link        1.0
6   rt user rt user ocean salti show global warm i...        1.0
7   global warm evid around u messag global warm d...        1.0
8   migratori bird new climat chang strategi stay ...        1.0
9   southern africa compet limpopo water climat ch...        1.0
10  global warm impact wheat rice product india lu...        1.0

   existence.confidence
1                     1
2                     1
3                0.8786
4                     1
5                0.8087
6                     1
7                     1
8                     1
9                     1
10                    1
¡Fin de la preparación!

C:\Users\CARLOT~1\AppData\Local\Temp/ipykernel_27164/1649731488.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mensajesTwitter_sin['tweet']= mensajesTwitter_sin['tweet'].apply(lambda mensaje: ' '.join([lemmatizer.lemmatize(palabra) for palabra in mensaje.split(' ')]))

Ahora tenemos los datos preparados y podemos empezar la predicción

## Fases de aprendizaje y predicción

Importamos las librerías a utilizar

In [151]:
from sklearn.model_selection import train_test_split

Dividimos nuestro dataset, en variables dependientes e independietes

In [152]:
X = mensajesTwitter_sin['tweet'].values
y = mensajesTwitter_sin['existence'].values

In [153]:

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

### Eltapas de aprendizaje

explicarlo

In [154]:
#Primero importamos las librerías a usar
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [155]:
etapas_aprendizaje = Pipeline([('frequencia', CountVectorizer()),('tfidf', TfidfTransformer()),('algoritmo', MultinomialNB())])

### Analizamos los resultados

In [156]:
modelo = etapas_aprendizaje.fit(X_train,y_train)

Importamos las clases

In [157]:
from sklearn.metrics import classification_report

In [158]:
print(classification_report(y_test, modelo.predict(X_test), digits=4))

              precision    recall  f1-score   support

         0.0     0.8667    0.2675    0.4088       243
         1.0     0.7688    0.9834    0.8630       602

    accuracy                         0.7775       845
   macro avg     0.8177    0.6254    0.6359       845
weighted avg     0.7970    0.7775    0.7324       845

Ponemos a prueba nuestra predicción con una frase

In [179]:
frase = "Hello my name is Carlota and I like cats and big horses"
print(frase)

Hello my name is Carlota and I like cats and big horses

Normalizamos la frase

In [180]:
frase = normalizacion(frase)

Eliminamos las stop words

In [181]:
frase = ' '.join([palabra for palabra in frase.split() if palabra not in (stopWords)])

Aplicamos el stemming

In [182]:
frase =  ' '.join([stemmer.stem(palabra) for palabra in frase.split(' ')])

Lematizamos

In [183]:
frase = ' '.join([lemmatizer.lemmatize(palabra) for palabra in   frase.split(' ')])  
#Comporbamos que lo hemos hecho correcto
print (frase)

hello name carlota like cat big hors

In [184]:
prediccion = modelo.predict([frase])
print(prediccion)
if(prediccion[0]==0):
    print(">> No le gustan los gatos ni los caballos...")
else:
    print(">> Vota a PACMAN...")

[1.]
>> Vota a PACMAN...

emocionada me encuentro

### Algoritmo SVM

Se trata del algortimo SVM (maquina de vectores de soporte) para clasificar el texto.

Importamos librerías

In [196]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.svm import SVC
from sklearn import svm
from sklearn.metrics import classification_report

In [197]:
etapas_aprendizaje = Pipeline([('frequencia', CountVectorizer()),
                                ('tfidf', TfidfTransformer()),
                                ('algoritmo', svm.SVC(kernel='linear', C=2))])

Hacemos el aprendizaje

In [198]:
modelo = etapas_aprendizaje.fit(X_train,y_train)

In [199]:
print(classification_report(y_test, modelo.predict(X_test),  
digits=4))

              precision    recall  f1-score   support

         0.0     0.7538    0.6173    0.6787       243
         1.0     0.8560    0.9186    0.8862       602

    accuracy                         0.8320       845
   macro avg     0.8049    0.7679    0.7825       845
weighted avg     0.8266    0.8320    0.8266       845

Vamos a utilizar la función GridSearchCV para hacer mejor el algoritmo

In [202]:
#Importamos librerías
from sklearn.model_selection import GridSearchCV

In [203]:
parameters = {'algoritmo__C':(1,2,4,5,6,7,8,9,10,11,12)}

clf = GridSearchCV(etapas_aprendizaje, parameters,cv=2)
clf.fit(X_train,y_train)
print(clf.best_params_)

{'algoritmo__C': 1}

In [204]:
etapas_aprendizaje = Pipeline([('frequencia', CountVectorizer()),
                                ('tfidf', TfidfTransformer()),
                                ('algoritmo', svm.SVC(kernel='linear', C=1))])

modelo = etapas_aprendizaje.fit(X_train,y_train)
from sklearn.metrics import classification_report
print(classification_report(y_test, modelo.predict(X_test), digits=4))

              precision    recall  f1-score   support

         0.0     0.7609    0.5761    0.6557       243
         1.0     0.8442    0.9269    0.8836       602

    accuracy                         0.8260       845
   macro avg     0.8025    0.7515    0.7697       845
weighted avg     0.8202    0.8260    0.8181       845

Precisión del 85%