### Preparación de los datos

Importamos las librerías a utilizar

In [1]:
import pandas as pd
import numpy as np

In [2]:
mensajesTwitter =  pd.read_csv("datas/calentamientoClimatico.csv",delimiter=";")
mensajesTwitter.head()

                                               TWEET CREENCIA  CONFIANZA
0  Global warming report urges governments to act...      Yes     1.0000
1  Fighting poverty and global warming in Africa ...      Yes     1.0000
2  Carbon offsets: How a Vatican forest failed to...      Yes     0.8786
3  Carbon offsets: How a Vatican forest failed to...      Yes     1.0000
4  URUGUAY: Tools Needed for Those Most Vulnerabl...      Yes     0.8087

### Exploración de datos

In [3]:
mensajesTwitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4225 entries, 0 to 4224
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TWEET      4225 non-null   object
 1   CREENCIA   4225 non-null   object
 2   CONFIANZA  4225 non-null   float64
dtypes: float64(1), object(2)
memory usage: 99.1+ KB

Miramos si hay nulos

In [5]:
mensajesTwitter.isna().sum()

TWEET        0
CREENCIA     0
CONFIANZA    0
dtype: int64

In [6]:
mensajesTwitter.describe()

         CONFIANZA
count  4225.000000
mean      0.806048
std       0.183291
min       0.343400
25%       0.659700
50%       0.724200
75%       1.000000
max       1.000000

In [7]:
mensajesTwitter['CONFIANZA'].value_counts()

1.0000    1830
0.6585      10
0.6818       8
0.6476       8
0.6591       8
          ...
0.6369       1
0.5837       1
0.6214       1
0.6328       1
0.6513       1
Name: CONFIANZA, Length: 1377, dtype: int64