## Preparación de los datos

Importamos las librerías a utilizar

In [44]:
import pandas as pd
import numpy as np

Leemos el csv.

In [55]:
mensajesTwitter_sin =  pd.read_csv("datas/calentamientoClimatico_sin_preparar.csv",delimiter=";", encoding='latin-1')

In [56]:
mensajesTwitter_sin

,Column1,Column2,Column3
0,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

### Exploración de datos

In [57]:
mensajesTwitter_sin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6091 entries, 0 to 6090
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  6091 non-null   object
 1   Column2  4226 non-null   object
 2   Column3  6088 non-null   object
dtypes: object(3)
memory usage: 142.9+ KB

Miramos si hay nulos

In [58]:
mensajesTwitter_sin.isna().sum()

Column1       0
Column2    1865
Column3       3
dtype: int64

In [59]:
mensajesTwitter_sin.describe()

                                                  Column1 Column2 Column3
count                                                6091    4226    6088
unique                                               5542       3    1760
top     No matter if you believe in global warming or ...     Yes       1
freq                                                   20    3111    2391

In [60]:
mensajesTwitter_sin.shape

(6091, 3)

### Limpieza de datos

Cambiamos el nombre de las columnas

In [61]:
mensajesTwitter_sin.columns = ['tweet', 'existence', 'existence.confidence']

Eliminamos la primera fila

In [62]:
mensajesTwitter_sin = mensajesTwitter_sin.drop(0)

Comprobamos que está bien

In [64]:
mensajesTwitter_sin

,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
5,URUGUAY: Tools Needed for Those Most Vulnerabl...,Yes,0.8087
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

In [54]:
mensajesTwitter_sin['existence'] = mensajesTwitter_sin['existence'].replace({'Yes': 1, 'No': 0})
mensajesTwitter_sin

,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,1.0,1
2,Fighting poverty and global warming in Africa ...,1.0,1
3,Carbon offsets: How a Vatican forest failed to...,1.0,0.8786
4,Carbon offsets: How a Vatican forest failed to...,1.0,1
5,URUGUAY: Tools Needed for Those Most Vulnerabl...,1.0,0.8087
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",1.0,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,0.0,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,0.0,1
6090,man made global warming a hair brained theory ...,0.0,1

Eliminamos los nulos

In [67]:
mensajesTwitter_sin = mensajesTwitter_sin.dropna()
mensajesTwitter_sin

,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
5,URUGUAY: Tools Needed for Those Most Vulnerabl...,Yes,0.8087
...,...,...,...
6085,It's 83_Á and climbing in NYC. August weather...,Yes,1
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

Comprobamos que se han eliminado

In [68]:
mensajesTwitter_sin.isna().sum()

tweet                   0
existence               0
existence.confidence    0
dtype: int64