## Preparación de los datos

Importamos las librerías a utilizar

In [28]:
import pandas as pd
import numpy as np

In [29]:
mensajesTwitter_sin =  pd.read_csv("datas/calentamientoClimatico_sin_preparar.csv",delimiter=";", encoding='latin-1')

In [30]:
mensajesTwitter_sin

,Column1,Column2,Column3
0,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

Eliminamos la primera fila

In [33]:
mensajesTwitter_sin = mensajesTwitter_sin.drop(0)

In [34]:
mensajesTwitter_sin

,tweet,existence,existence.confidence
1,Global warming report urges governments to act...,Yes,1
2,Fighting poverty and global warming in Africa ...,Yes,1
3,Carbon offsets: How a Vatican forest failed to...,Yes,0.8786
4,Carbon offsets: How a Vatican forest failed to...,Yes,1
5,URUGUAY: Tools Needed for Those Most Vulnerabl...,Yes,0.8087
...,...,...,...
6086,"@bloodless_coup ""The phrase 'global warming' s...",Yes,1
6087,Virginia to Investigate Global Warming Scienti...,NaN,1
6088,Global warming you tube parody you will enjoy ...,No,0.6411
6089,One-Eyed Golfer: Don't dare tell me about glob...,No,1
6090,man made global warming a hair brained theory ...,No,1

### Exploración de datos

In [36]:
mensajesTwitter_sin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6090 entries, 1 to 6090
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tweet                 6090 non-null   object
 1   existence             4225 non-null   object
 2   existence.confidence  6087 non-null   object
dtypes: object(3)
memory usage: 190.3+ KB

Miramos si hay nulos

In [37]:
mensajesTwitter_sin.isna().sum()

tweet                      0
existence               1865
existence.confidence       3
dtype: int64

In [38]:
mensajesTwitter_sin.describe()

,tweet,existence,existence.confidence
count,6090,4225,6087
unique,5541,2,1759
top,No matter if you believe in global warming or ...,Yes,1
freq,20,3111,2391

In [40]:
mensajesTwitter_sin.shape

(6090, 3)

### Limpieza de datos

Cambiamos el nombre de las columnas

In [41]:
mensajesTwitter_sin.columns = ['tweet', 'existence', 'existence.confidence']